$pallette: (
  darkgrey: #3f3934,
  grey: #aaa6a2,
  white: #efefef,
  lightgrey: #e0ded7,
  accent: #E4C255,
  primary: #BB5139,
  dark-layer: rgba(0,0,0,0.1),
  label: rgba(0,0,0,0.54)
);

$fontsize: (
  xxs: 9px,
  xs: 12px,
  sm: 14px,
  m: 16px,
  lg: 18px,
  xl: 24px
);